[Desktop Entry]
Type=Application
Name=Easy NordVPN
Comment=Unofficial NordVPN visual tool
Exec=|EXEC_CMD|
Icon=easynordvpn
Terminal=false
Categories=Network;
