[Desktop Entry]
Type=Application
Name=Easy NordVPN
Comment=Unofficial NordVPN visual tool
Exec=easynordvpn
Icon=easynordvpn
Terminal=false
Categories=Network;
